[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
body {
  font-size: 13px;
  background-image: url('../image/bgtrees2.png');
  margin: 0;
}


.header {
  /* position: fixed;
  top: 0;
  z-index: 9; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
}
.header .logo {
  height: 42px;
  margin-top: 2px;
}
.header .logo img {
  height: 100%;
}
.header a {
  color: #608089;
}
.help {
  display: none;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 480px;
  padding: 0 0 20px 0;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #b9cfd5;
  padding: 10px 0 30px;
}



.breadcrumbs {
  padding: 1rem;
}
.breadcrumbs a,
.breadcrumbs .sep {
  color: #9fbec7;
}

.media {
  padding: 0 1rem;
}
.media-title {
  text-align: center;
  padding: 0 1rem;
}
.media-title-small {
  position: relative;
  top: -10px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #608089;
  margin-bottom: 10px;
}
.media-photo {
  text-align: center;
  height: 260px;
  padding-bottom: 1rem;
}
.media-photo img {
  height: 100%;
}
.media-card {
  margin-top: 1rem;
}
.media-card + .media-card {
  margin-top: 2rem;
}
.media-card img {
  max-width: 100%;
}
.media-card-title {
  font-size: 14px;
  color: #608089;
  background: rgba(195, 220, 227, 0.65);
  border-radius: 14px;
  padding: 6px 12px;
  margin-bottom: 10px;
}
.media-list {
  list-style: none;
  line-height: 1.6;
  padding-left: 20px;
}
.media-list a {
  color: #608089;
  text-decoration: underline;
}
.media-list li + li {
  margin-top: 10px;
}
.media-list li::before {
  content: "\2022";
  display: inline-block;
  font-weight: bold;
  width: 1em;
  color: #9fbec7;
  margin-left: -1em;
}
.media-tag {
  padding: 0 24px;
}
.media-tag label {
  color: #9fbec7;
}
.media-tag .tag {
  padding: 4px 14px;
  color: #fff;
  background: #8cb6c4;
  border-radius: 5px;
  border: 0;
  margin-bottom: 6px;
}
.media-text {
  line-height: 1.6;
  padding: 0 10px;
}


.animals-info-list {
  list-style: none;
  line-height: 1.6;
  background: rgba(195, 220, 227, 0.65);
  border-radius: 16px;
  padding: 6px 10px;
  margin: 0;
}
.animals-info-group {
  display: flex;
}
.animals-info-item {
  width: 100%;
  background: #fff;
  border-radius: 14px;
  padding: 4px 8px;
  margin: 4px 0;
}
.animals-info-item + .animals-info-item {
  margin-left: 4px;
}
.animals-info-item label {
  display: inline-block;
  width: 50px;
  color: #9fbec7;
  padding-left: 8px;
}
.animals-info-audio {
  text-align: center;
  margin-top: 6px;
}
.animals-info-small {
  text-align: center;
  font-size: 10px;
  color: #b9b9b9;
}


.table {
  width: 100%;
  line-height: 1.6;
  background: #fff;
  border-spacing: 0;
}
.table th,
.table td {
  padding: 4px 2px;
}
.table th {
  background: rgba(195, 220, 227, 0.65);
}
.table td {
  text-align: center;
}
.table td + td {
  border-left: 1px solid rgba(195, 220, 227, 0.65);
}
.table tr + tr td {
  border-bottom: 1px solid rgba(195, 220, 227, 0.65);
}
.table a {
  color: #608089;
  text-decoration: underline;
}
.table-img {
  width: 30px;
  text-align: center;
  margin: auto;
}
.table-img img {
  width: 100%;
  height: 100%;
  padding: 4px 0 0 0;
}

.search td {
  text-align: left;
  padding: 2px 4px;
}
.search tr th {
  width: 80px;
  border-bottom: 1px solid #fff;
}
.search tr td {
  border-bottom: 1px solid rgba(195, 220, 227, 0.65);
}

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(195, 220, 227, 0.65);
  border-radius: 4px;
  padding: 6px 12px;
  margin: 2px 1px;
}
.btn.current {
  background-color: rgba(195, 220, 227, 0.65);
}
.btn-senior {
  position: relative;
  width: 100%;
  background-color: rgba(195, 220, 227, 0.65);
  border: 0;
}
.btn-senior::before {
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background: url('../image/chevron-down-solid.svg') center no-repeat;
  background-size: 36%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .3;
}

.input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(195, 220, 227, 0.65);
  border-radius: 4px;
  padding: 6px 12px;
  margin: 2px 1px;
}
.form-search {
  display: flex;
}

.vue-go-top {
  width: 44px !important;
  height: 44px !important;
  background-color: rgba(101, 144, 155, 0.4) !important;
  box-shadow: none !important;
}


/* first */
.first .first-banner {
  min-height: 680px;
  background: url('../image/first_bg.png') top no-repeat;
}
.first-logo {
  width: 80%;
  height: 560px;
  margin: 0 auto;
}
.first-logo .logo {
  padding-top: 4vh;
}
.first-logo img {
  max-width: 100%;
}
.first-list-warp {
  position: relative;
}
.first-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.first-list + .first-list {
  padding-top: 10px;
}
.first-list li {
  flex: 0 0 33.33%;
}
.first-list img {
  max-width: 100%;
  padding: 4px 10px;
}
.first-list span {
  display: block;
  text-align: center;
}
.first-list a {
  color: #608089;
  text-decoration: underline;
}