@import "bootstrap";

$developer: 0;
$font-family: "SF Pro TC","SF Pro Display","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Noto Sans TC","Microsoft JhengHei","Arial",sans-serif;

* {
  &:focus {
    outline: 0 !important;
  }
}

#donateMe {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  a {
    display: block;
    color: #fff;
    line-height: 40px;
  }
}
.header {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  a {
    color: #292929;
  }
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .logo {
    display: block;
    padding-left: 1rem;
    img {
      height: 100%;
    }
    h1 {
      overflow : hidden;
      text-overflow : ellipsis;
      font-size: 16px;
      margin: 0;
    }
    h2 {
      display: none;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
.sub-login {
  .btn-group {
    height: 100%;
  }
  .sub-login-img-wrap {
    display: flex;
    align-items: center;
    + .btn {
      padding-left: .35rem;
    }
    > a {
      display: block;
      .sub-login-img {
        width: 34px;
        height: 34px;
        background: $gray-200 top center no-repeat;
        background-size: 100%;
        border-radius: 50%;
      }
    }
  }
}



.breadcrumb {
  color: $gray-400;
  background-color: transparent;
  padding: 0 0 1rem;
  margin: 0;
  a {
    color: $gray-400;
    &:hover {
      color: $primary;
    }
  }
  .breadcrumb-item.active,
  .breadcrumb-item + .breadcrumb-item::before {
    color: $gray-400;
  }
}



.content-title {
  font-size: 20px;
  padding: 2rem 0 0;
}

.section-search {
  margin-bottom: 1rem;
  .table {
    margin-bottom: 0;
  }
  .btn-search {
    border-color: $gray-200;
    margin: 2px;
    &:hover {
      background-color: $gray-100;
    }
    &.current {
      background-color: rgba($primary, .08);
      border-color: rgba($primary, .2);
    }
  }
  .collapse-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-100;
    border: 1px solid $gray-200;
    padding: .5rem;
    ion-icon {
      position: absolute;
      right: 10px;
      opacity: 0.5;
    }
  }
  .form-search {
    display: flex;
    border: 1px solid $gray-200;
    padding: .3rem .5rem;
    .form-control {
      position: relative;
      top: 1px;
      border-color: transparent;
      &:focus {
        border-color: #529be4;
      }
    }
    .btn {
      margin: 2px;
    }
    .btn-search {
      color: #fff;
      background-color: $primary;
    }
  }
}

.post {
  .post-title {
    text-align: center;
    border-bottom: 1px solid $gray-200;
    padding: 1rem;
  }
  .post-photo {
    text-align: center;
    max-width: 360px;
    padding: 1rem 0;
    margin: 0 auto;
    img {
      max-height: 100%;
    }
  }
  .post-animal {
    height: 320px;
  }
  .post-body {
    .post-card {
      margin-bottom: 2rem;
    }
    .card {
      margin-bottom: 1rem;
    }
    .card-group {
      .card {
        margin-bottom: 0;
      }
    }
  }
  .post-card-title {
    background-color: $gray-200;
    border-radius: 0.25rem;
    padding: .5rem 1rem;
    margin-bottom: .75rem;
  }
  .post-card-img {
    img {
      max-width: 100%;
    }
  }
  .post-card-info {
    list-style: none;
    line-height: 1.6;
    background: $gray-200;
    border-radius: 16px;
    padding: 6px 10px;
    .post-info-group {
      display: flex;
      .post-info-item {
        width: 100%;
        background: #fff;
        border-radius: 14px;
        padding: 4px 8px;
        margin: 4px 0;
        + .post-info-item {
          margin-left: 4px;
        }
        label {
          display: inline-block;
          width: 50px;
          color: $gray-500;
          padding-left: 8px;
        }
      }
    }
  }
  .post-card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 1.6;
    border-left: 1px solid $gray-200;
    padding: 0;
    a {
      color: $gray-900;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100px;
      text-align: center;
      border: 1px solid $gray-200;
      border-left: 0;
      border-top: 0;
      &:hover {
        background-color: $gray-100;
      }
    }
    &.check-list {
      margin: 0 -1px -1px 0;
      li {
        position: relative;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          top: 5px;
          right: 5px;
          display: block;
          width: 20px;
          height: 20px;
          color: $primary;
          background-color: #fff;
          border: 1px solid $gray-200;
          border-radius: 50%;
        }
        &.current {
          background-color: $gray-100;
          &:before {
            content: '';
            background: #fff url('../image/checkmark-outline.svg') center no-repeat;
            background-size: 100%;
            border-color: $gray-900;
          }
        }
      }
    }
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -.2rem;
  > li {
    flex: 0 0 50%;
    padding: .2rem;
    .card-list-item {
      text-align: center;
      border: 1px solid $gray-200;
      box-shadow: 0 0 0 rgba(0,0,0,0.1);
      border-radius: 6px;
      padding-bottom: .3rem;
      transition: all .3s ease;
      cursor: pointer;
      .card-list-img {
        height: 140px;
        padding: 1rem;
        img {
          max-height: 100%;
        }
      }
      .card-list-title {
        font-size: .8rem;
        line-height: 1.2;
        font-weight: bold;
      }
      .card-list-info {
        color: $gray-700;
      }
      .btn {
        border-color: transparent !important;
        i {
          margin-right: 4px;
        }
      }
      &:hover {
        box-shadow: 0 0 12px rgba(0,0,0,0.1);
      }
    }
  }
}


.collapse-analysis {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  padding: .5rem;
  ion-icon {
    position: absolute;
    right: 10px;
    opacity: 0.5;
  }
}
.table-analysis {
  .analysis-info {
    display: flex;
    justify-content: center;
    align-items: center;
    &.top {
      flex-direction: column;
    }
    &.left {
      flex-direction: column;
    }
  }
  .analysis-icon {
    width: 36px;
    img {
      max-width: 100%;
    }
  }
  .analysis-scores {
    font-size: .8em;
    white-space: nowrap;
    > div {
      line-height: 1.2;
    }
  }
  .analysis-scores-total {
    max-width: 46px;
    font-size: 1.25em;
    text-align: center;
    border: 1px solid transparent;
    margin: 0 auto .3rem;
    border-radius: .25rem;
    &.good {
      background-color: rgba($success, .05);
      border-color: $success;
    }
    &.bad {
      background-color: rgba($danger, .05);
      border-color: $danger;
    }
  }
  .analysis-scores-subtotal {
    display: flex;
    justify-content: center;
    span {
      padding: 0 3px;
    }
  }
}
.analysis-fixed {
  margin-bottom: 60px;
}
.analysis-tag {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  padding: 0.75rem;
  .table-responsive {
    white-space: nowrap;
  }
  .btn-tag {
    position: relative;
    background-color: #fff;
    border-color: rgba($primary, .2);
    padding-left: 1.5rem;
    margin: 2px;
    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 6px;
      width: 1rem;
      height: 1rem;
      display: block;
      background-color: $primary;
      mask-image: url('../image/close-outline.svg');
      mask-size: cover;
    }
    &:hover {
      background-color: $gray-100;
    }
    &.current {
      background-color: rgba($primary, .08);
      border-color: rgba($primary, .2);
    }
  }
}



.donate {
  .donate-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: .3rem .5rem;
      .donate-list-date {
        color: $gray-500;
      }
      .donate-list-money {
        font-size: 15px;
        font-weight: bold;
        &:before {
          content: '$';
        }
      }
      .donate-list-re {
        color: $gray-500;
        &:before {
          content: "\2014\00A0";
        }
      }
      &:nth-child(odd) {
        background-color: $gray-100;
      }
    }
  }
}

.version {
  .img-fluid {
    width: 400px;
    margin: .5rem 0;
  }
}
.instructions {
  font-size: 1rem;
  line-height: 1.6;
  .card-title,
  .card-subtitle {
    font-family: $font-family;
  }
  .card-subtitle {
    font-size: 1rem;
    color: $gray-500;
  }
  .card-body {
    > p {
      margin-bottom: 0.5em;
    }
  }
  .instructions-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    background: $gray-100;
    padding: 1rem;
    margin: 3rem 0 1rem;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 4px;
      height: 100%;
      background: $primary;
      border-radius: 10px;
    }
  }
  .instructions-img {
    text-align: center;
    margin-bottom: 1rem;
    img {
      max-width: 320px;
    }
  }
  .instructions-img-box {
    display: inline-block;
    margin: .2rem .5rem;
    img {
      max-width: 320px;
    }
    > span {
      display: block;
      font-size: 12px;
      color: $gray-500;
      margin-top: 0.5rem;
    }
  }
}

.first {
  .first-nav-wrap {
    background-color: $gray-100;
    padding: 1rem 0;
  }
  .first-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    li {
      padding: 0.5rem;
      a {
        font-size: 15px;
        color: $gray-700;
        overflow: hidden;
      }
      .first-nav-item {
        position: relative;
        display: block;
        width: 160px;
        height: 180px;
        background-color: #fff;
        border: 1px solid $gray-200;
        margin: 0 auto;
        &:hover {
          &:after {
            opacity: .88;
          }
          .t2 {
            opacity: 1;
            &:after {
              width: 12px;
              transition: all .3s ease .2s;
            }
          }
          .white {
            opacity: 1;
            right: -50px;
            transition: all .5s ease .2s;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
          width: 100%;
          height: 100%;
          background: linear-gradient(to left, #28a5f5, #1e87f0);
          transition: all .3s ease;
          opacity: 0;
        }
        .t1 {
          display: block;
          position: absolute;
          top: 2rem;
          left: 0;
          z-index: 2;
          width: 100%;
          text-align: center;
          line-height: 20px;
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1rem;
            width: 12px;
            height: 2px;
            background-color: $primary;
            margin-left: -6px;
          }
        }
        .t2 {
          position: absolute;
          left: 20px;
          bottom: 37px;
          z-index: 6;
          color: white;
          transition: all .3s ease;
          padding-bottom: 16px;
          opacity: 0;
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: white;
            transition: all .3s ease;
            opacity: .7;
          }
        }
        .black {
          position: absolute;
          left: 50%;
          bottom: -20px;
          z-index: 1;
          width: 100px;
          height: 100px;
          background-color: lighten($gray-200, 3%);
          mask-size: cover;
          mask-repeat: no-repeat;
          margin-left: -50px;
        }
        .white {
          position: absolute;
          top: 16%;
          right: -65px;
          z-index: 6;
          width: 120px;
          height: 120px;
          transition: all .3s ease;
          background-color: #fff;
          mask-size: cover;
          mask-repeat: no-repeat;
          opacity: 0;
        }
      }
      img {
        max-width: 100%;
      }
      .icon__instructions {
        mask: url('../image/icon/instructions.svg');
      }
      .icon__version {
        mask: url('../image/icon/version.svg');
      }
      .icon__feedback {
        mask: url('../image/icon/feedback.svg');
      }
      .icon__animals {
        mask: url('../image/icon/animals.svg');
      }
      .icon__npc {
        mask: url('../image/icon/npc.svg');
      }
      .icon__museum {
        mask: url('../image/icon/museum.svg');
      }
      .icon__diy {
        mask: url('../image/icon/diy.svg');
      }
      .icon__apparel {
        mask: url('../image/icon/apparel.svg');
      }
      .icon__furniture {
        mask: url('../image/icon/furniture.svg');
      }
      .icon__plant {
        mask: url('../image/icon/plant.svg');
      }
      .icon__kk {
        mask: url('../image/icon/kk.svg');
      }
      .icon__donate {
        mask: url('../image/icon/donate.svg');
      }
    }
  }
  .first-birthday {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
    .first-birthday-img {
      width: 100px;
      img {
        position: relative;
        left: -20px;
        opacity: 0.2;
        transition: all .5s ease .2s;
      }
      &.show img {
        left: 0;
        opacity: 1;
      }
    }
    .first-birthday-text {
      font-family: $font-family;
      font-size: 20px;
      margin-left: 2rem;
      > span {
        display: block;
      }
    }
  }
  .first-season-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1rem auto 0;
    li {
      flex: 0 0 25%;
      text-align: center;
      margin-bottom: 1rem;
      a {
        span {
          display: block;
          line-height: 1.2;
        }
      }
    }
  }
}

// user
.passport-warp {
  background-color: $gray-100;
  border: 1px solid $gray-200;
  border-radius: 1rem;
  padding: 1rem 0;
  .passport-header {
    position: relative;
    width: 100%;
    text-align: center;
    align-content: center;
    color: lighten($primary, 10%);
    background-image: linear-gradient(to right, $gray-200 10%, $gray-200 90%, transparent 50%);
    background-size: 60px 1px;
    background-repeat: repeat-x;
    padding: 1rem 0;
    > span {
      position: relative;
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        width: 26%;
        height: 1px;
        background-color: lighten($primary, 10%);
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  .passport-body {
    background-color: #ffffff;
    padding: 1rem;
    margin: 0;
  }
  .passport-footer {
    position: relative;
    padding: 1rem 1rem 0 1rem;
    &:after {
      content: '<<<<<<<<<';
      position: absolute;
      top: 48%;
      right: 1rem;
      font-family: monospace, monospace;
      letter-spacing: 3px;
      font-size: 12px;
      color: $gray-300;
    }
  }
  .passport-info {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      border-bottom: 1px solid $gray-200;
      .btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-12px);
      }
    }
    .passport-info-item {
      display: flex;
      align-items: center;
      height: 3rem;
      .label {
        width: 74px;
        text-align: center;
        color: $gray-500;
        background: $gray-100;
        border-radius: 15px;
        padding: 2px 10px;
        margin-right: 10px;
      }
    }
    .passport-info-tip {
      position: relative;
      top: -8px;
      color: $gray-500;
      margin-left: 10px;
    }
    .passport-info-item-group {
      display: flex;
      .passport-info-item {
        flex: 0 0 50%;
        + .passport-info-item {
          margin-left: 10px;
        }
      }
    }
  }
  // .passport-hr {
  //   border-bottom: 1px solid $gray-200;
  // }
  // .passport-info {
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   input {
  //     border: 0;
  //   }
  //   li {
  //     padding: .5rem 1rem;
  //   }
  //   .passport-sw {
  //     padding: .5rem 0;
  //     > span {
  //       display: block;
  //       width: 100%;
  //       max-width: 360px;
  //       font-size: 13px;
  //       font-weight: bold;
  //       background: $gray-100;
  //       border-radius: 30px;
  //       box-shadow: inset 1px 1px 2px rgba($gray-900, 0.06);
  //       padding: .5rem 1rem;
  //     }
  //   }
  // }
  // .passport-info-img {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  // .passport-info-name {
  //   input {
  //     margin: 0 -1rem;
  //   }
  // }
  // .passport-info-birthday{
  //   .birthday-edit {
  //     margin: 0 -1rem;
  //     &:after {
  //       content: '出生';
  //       display: inline-block;
  //       margin-left: 6px;
  //       position: relative;
  //       top: 2px;
  //     }
  //     .form-control {
  //       width: 80px;
  //       + .form-control {
  //         margin-left: 6px;
  //       }
  //     }
  //   }
  // }
  // .passport-info-top {
  //   display: flex;
  //   > div + div {
  //     margin-left: 2rem;
  //   }
  //   input, select {
  //     width: 100%;
  //     max-width: 120px;
  //     border-radius: 0;
  //   }
  //   .passport-info-island,
  //   .passport-info-fruit {
  //     position: relative;
  //     display: flex;
  //     align-items: center;
  //     padding-left: 2rem;
  //     &:before {
  //       content: '';
  //       position: absolute;
  //       left: 0;
  //       display: inline-block;
  //       height: 23px;
  //       background-color: $gray-300;
  //       mask-size: contain;
  //       mask-repeat: no-repeat;
  //     }
  //   }
  //   .passport-info-island:before {
  //     width: 21px;
  //     mask-image: url('../image/icon/island.svg');
  //   }
  //   .passport-info-fruit:before {
  //     width: 23px;
  //     mask-image: url('../image/icon/apple.svg');
  //   }
  // }
  // .passport-join {
  //   color: $gray-600;
  // }
}
.user-header {
  text-align: center;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  h4 {
    margin-bottom: .2rem;
  }
  small {
    color: $gray-400;
  }
}
.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    text-align: center;
    padding: 0.5rem;
    &:hover {
      a {
        border-color: $gray-200;
      }
    }
    .user-item {
      .user-item-title {
        display: block;
        padding-top: 0.2rem;
      }
      img {
        border-radius: 50%;
      }
    }
  }
  a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $gray-100;
    border: 5px solid rgba($gray-200, .5);
  }
}
.user-body {
  .nav-tabs {
    margin-bottom: 0.5rem;
  }
  .card-list li .card-list-item {
    .card-list-img {
      height: 80px;
      padding: .5rem 1rem;
    }
  }
}

.user-save-wrap {
  i {
    margin-right: 4px;
  }
}
ul.user-save-btn {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    .btn {
      font-size: 12px;
      &:not(.current) {
        color: $gray-700;
        border-color: $gray-300;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}




.list-rank {
  .list-rank-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: $gray-500;
    background-color: $gray-200;
    border-radius: 50%;
    &.list-rank-num1 {
      color: #fff;
      background: transparent url('../image/list-rank-1.png');
      background-size: 100%;
      border-radius: 0;
      box-sizing: content-box;
      padding-top: 6px;
    }
    &.list-rank-num2 {
      color: #fff;
      background: transparent url('../image/list-rank-2.png');
      background-size: 100%;
      border-radius: 0;
      box-sizing: content-box;
      padding-top: 6px;
    }
    &.list-rank-num3 {
      color: #fff;
      background: transparent url('../image/list-rank-3.png');
      background-size: 100%;
      border-radius: 0;
      box-sizing: content-box;
      padding-top: 6px;
    }
  }
}
.list-year {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $gray-200;
  border-left: 1px solid $gray-200;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    flex: 0 0 25%;
    text-align: center;
    color: $gray-500;
    border-right: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
    .list-year-item {
      position: relative;
      border: 1px solid transparent;
      padding: 0.2rem;
      &:before {
        content: '';
        display: none;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 6px;
        height: 6px;
        background-color: $primary;
        border-radius: 50%;
      }
      span {
        display: block;
        border: 1px solid transparent;
        border-radius: 0.2rem;
        padding: .2rem;
      }
    }
    &.has {
      span {
        color: $gray-900;
        background-color: rgba($primary, .08);
        border-color: rgba($primary, .2);
      }
    }
    &.current {
      .list-year-item {
        &:before {
          display: block;
        }
      }
    }
  }
}
.list-time-wrap {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 1px;
    height: 34px;
    background-color: $gray-300;
  }
  .list-time {
    flex: 0 0 50%;
  }
}
.list-time {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $gray-300;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    flex: 0 0 8.33%;
    height: 66px;
    .list-time-title {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 28px;
      > span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.2;
      }
    }
    .list-time-item {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20px;
      background-color: transparent;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 1px;
      height: 20px;
      background-color: $gray-300;
    }
    &:nth-child(3n+1) {
      &:after {
        height: 26px;
      }
    }
    &:nth-child(6n+1) {
      &:after {
        height: 34px;
      }
    }
    &.has {
      .list-time-item {
        background-color: rgba($primary, .08);
      }
    }
    &.current {
      &:after {
        width: 2px;
        background-color: $primary;
      }
    }
  }
}

.list-custom {
  li {
    padding: .5rem 0;
  }
  .list-custom-label {
    font-size: 12px;
    background-color: $gray-200;
    border-radius: .85rem;
    padding: .2rem .75rem;
    margin-right: .5rem;
  }
}




.footer {
  .copyright {
    color: $gray-400;
    text-align: center;
    padding: 1rem 0;
  }
}







// components
ul {
  line-height: 1.8;
}
audio {
  width: 100%;
}
.vue-go-top {
  width: 40px !important;
  height: 40px !important;
  background-color: rgba($primary, .8) !important;
  box-shadow: none !important;
}
.hidden {
  overflow: hidden;
}
.rounded {
  border-radius: .25rem !important;
}
a.link {
  color: $primary !important;
  text-decoration: underline;
}
.list-decimal {
  list-style: decimal;
  line-height: 1.4;
  padding: 0 0 0 1rem;
  margin: 0;
  li + li {
    margin-top: 0.36rem;
  }
}
.list-square {
  list-style: square;
  line-height: 1.4;
  padding: 0 0 0 1rem;
  margin: 0 0 1rem 0;
  li + li {
    margin-top: 0.36rem;
  }
}
.nav-item {
  a {
    color: $gray-700;
  }
}
.nav-pills .nav-link,
.btn {
  white-space: nowrap;
  border-radius: 0.25rem;
  &:focus {
    box-shadow: none;
  }
}
.btn-default {
  border-color: $gray-200;
  &:hover {
    background-color: $gray-100;
  }
}
.form-control:focus {
  border-color: #96c7f8;
  box-shadow: none;
}
.alert-primary {
  background-color: rgba($primary, .06);
  span {
    font-size: 16px;
  }
}
.bg-primary-light {
  background-color: rgba($primary, .1);
}
.bg-success-light {
  background-color: rgba($success, .1);
}
.bg-danger-light {
  background-color: rgba($danger, .1);
}

// .color-chip {
//   &:before {
//     content: '';
//     position: relative;
//     top: 2px;
//     display: inline-block;
//     width: 14px;
//     height: 14px;
//     border-radius: 50px;
//     margin-right: 3px;
//   }
//   &.color-red:before {
//     background-color: rgb(228, 91, 63);
//   }
//   &.color-colorful:before {
//     background-image: linear-gradient( 135deg, #81FFEF 10%, #f09494 50%, #35399c 100%);
//   }
//   &.color-pink:before {
//     background-color: rgb(255, 113, 131);
//   }
//   &.color-white:before {
//     background-color: #fff;
//     border: 1px solid $gray-300;
//   }
//   &.color-blue:before {
//     background-color: rgb(78, 121, 204);
//   }
//   &.color-lightblue:before {
//     background-color: rgb(130, 215, 220);
//   }
//   &.color-purple:before {
//     background-color: rgb(124, 81, 187);
//   }
//   &.color-yellow:before {
//     background-color: rgb(244, 191, 66);
//   }
// }



// card
.card {
  border: 0;
}
.card-header {
  background-color: $gray-100;
  border: 1px solid $gray-200;
}
.card-body {
  border: 1px solid $gray-200;
}
.card-group {
  hr {
    margin: .5rem 0;
  }
  .card {
    margin-bottom: 0;
  }
}



// table
.table {
  background-color: #fff;
  a {
    color: $body-color;
  }
  th, td {
    vertical-align: middle;
  }
  th {
    background-color: $gray-100;
    padding: 1rem;
  }
  .table-label {
    width: 80px;
  }
}
.table-img {
  max-width: 66px;
  padding: 0 .2rem;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}


// <518px
@include media-breakpoint-down(xs) {
  .instructions .instructions-img img {
    max-width: 100%;
  }
  .first {
    .first-nav-list {
      padding: 0 .5rem;
      li {
        flex: 0 0 33.33%;
        padding: .2rem;
        .first-nav-item {
          width: 100%;
          height: 100px;
        }
      }
    }
  }
}
// <691px
@include media-breakpoint-down(sm) {
  .user-save {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1090;
    background: #fff;
    width: 100%;
    height: 34px;
    border-top: 1px solid $gray-300;
    .user-save-wrap {
      display: flex;
    }
    .btn-back {
      display: block;
      width: 60px;
      height: 34px;
      background-color: $gray-600;
      mask-image: url('../image/arrow-back-outline.svg');
      mask-size: 40%;
      mask-repeat: no-repeat;
      mask-position: center center;
    }
    ul {
      display: flex;
      width: 100%;
      margin: 0;
      li {
        flex: 0 0 50%;
        margin: 0;
      }
      .btn {
        display: block;
        width: 100%;
        border-radius: 0;
        border-color: transparent;
        &:not(.current) {
          color: $gray-700;
        }
      }
    }
  }
  .analysis-fixed {
    margin-bottom: 120px;
  }
  .header {
    position: fixed;
    z-index: 1090;
    width: 100%;
    .btn-nav {
      width: 50px;
      height: 50px;
      padding: 0;
      > .icon-menu {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $gray-900;
        mask-image: url('../image/menu-outline.svg');
        mask-size: 50%;
        mask-repeat: no-repeat;
        mask-position: center;
        margin-left: 2px;
      }
    }
  }
  .navigation {
    position: absolute;
    right: 0;
    width: 80%;
    max-width: 220px;
    height: 100vh;
    padding-bottom: 30vh;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 12px 38px 1px rgba($gray-900, 0.05);
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        display: block;
        background-color: #fff;
        border-top: 1px solid $gray-200;
        padding: 0.5rem .75rem;
      }
      > li.sub-nav > a {
        display: none;
      }
    }
  }
  .navigation-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba($gray-900, .7);
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
    &.show {
      z-index: 1090;
      pointer-events: auto;
      opacity: 1;
      .navigation {
        transform: translateX(0);
      }
    }
  }
  .content {
    padding-top: 90px;
  }
  .analysis-tag {
    > div:first-child {
      margin-bottom: .5rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .card-list li {
    flex: 0 0 33.33%;
  }
}
// ≥768px
@include media-breakpoint-up(md) {
  .card-list li {
    flex: 0 0 25%;
  }
  .user-save {
    text-align: right;
  }
  .header-wrap {
    max-width: 960px;
  }
  .btn-user,
  .btn-nav {
    display: none;
  }
  .navigation {
    > ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      > li > a {
        display: block;
        line-height: 50px;
        padding: 0 1rem;
      }
      .sub-nav {
        > a {
          &:after {
            content: '';
            position: relative;
            top: 2px;
            display: inline-block;
            width: .8rem;
            height: .8rem;
            background-color: $gray-500;
            mask-image: url('../image/chevron-down-outline.svg');
            mask-size: cover;
            margin-left: 2px;
          }
        }
        ul {
          display: none;
          list-style: none;
          position: absolute;
          z-index: 9;
          background-color: #fff;
          box-shadow: 0 12px 38px 1px rgba($gray-900, 0.05);
          padding: 0;
          li {
            a {
              display: block;
              padding: .5rem 1.25rem;
              white-space: nowrap;
              &:hover {
                color: $primary;
                background-color: rgba($primary, .08);
              }
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
          > a {
            color: $primary;
            &:after {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
  .post {
    .post-card-list {
      &.animal-list li {
        width: 16.66%;
      }
      &.check-list li {
        width: 16.66%;
      }
    }
  }
  .card-group {
    .card + .card {
      .card-body {
        border-left-color: transparent;
      }
    }
  }
  .donate {
    .donate-list {
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .table {
    .table-label {
      width: 120px;
    }
  }
  .first {
    .first-nav-list li .first-nav-item {
      width: 180px;
      .white {
        right: -50px;
      }
      &:hover {
        .white {
          right: -30px;
        }
      }
    }
    .first-birthday {
      .first-birthday-text {
        margin-left: 3rem;
        > span {
          display: inline-block;
        }
      }
    }
  }
}

// ≥992px
@include media-breakpoint-up(lg) {
  .card-list li {
    flex: 0 0 20%;
  }
  .first .first-season-list li {
    flex: 0 0 20%;
  }
  .post .post-card-list {
    &.check-list li {
      width: 12.5%;
    }
  }
}

// ≥1200px
@include media-breakpoint-up(xl) {
  .card-list {
    margin: 0 -.5rem;
    > li {
      padding: 0.5rem;
    }
  }
  .header-wrap {
    max-width: 1140px;
  }
  .first .first-season-list li {
    flex: 0 0 12.5%;
  }
  .post .post-card-list {
    li {
      width: 16.66%;
    }
    &.check-list li {
      width: 10%;
    }
  }
  .table-analysis {
    .analysis-info {
      &.left {
        flex-direction: row;
      }
    }
  }
}









@if $developer == 1 {
  @include media-breakpoint-up(md) {
    #root {
      border: 1px solid red;
    }
  }
  @include media-breakpoint-up(lg) {
    #root {
      border: 1px solid green;
    }
  }
  @include media-breakpoint-up(xl) {
    #root {
      border: 1px solid blue;
    }
  }
}