@import "bootstrap";

$developer: 1;

ul {
  line-height: 1.8;
}

audio {
  width: 100%;
}

#donateMe {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  a {
    display: block;
    color: #fff;
    line-height: 40px;
  }
}
.header {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  a {
    color: #292929;
  }
}
.header-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: block;
    padding-left: 1rem;
    img {
      height: 100%;
    }
    h1 {
      overflow : hidden;
      text-overflow : ellipsis;
      font-size: 16px;
      margin: 0;
    }
    h2 {
      display: none;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}




.breadcrumb {
  color: $gray-400;
  background-color: transparent;
  padding: 0 0 1rem;
  margin: 0;
  a {
    color: $gray-400;
    &:hover {
      color: $primary;
    }
  }
  .breadcrumb-item.active,
  .breadcrumb-item + .breadcrumb-item::before {
    color: $gray-400;
  }
}



.content-title {
  font-size: 20px;
  padding: 2rem 0 0;
}

.section-search {
  margin-bottom: 1rem;
  .table {
    margin-bottom: 0;
  }
  .btn-search {
    border-color: $gray-200;
    margin: 2px;
    &:hover {
      background-color: $gray-100;
    }
    &.current {
      background-color: rgba($primary, .08);
      border-color: rgba($primary, .2);
    }
  }
  .collapse-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-100;
    border: 1px solid $gray-200;
    padding: .5rem;
    ion-icon {
      position: absolute;
      right: 10px;
      opacity: 0.5;
    }
  }
  .form-search {
    display: flex;
    border: 1px solid $gray-200;
    padding: .3rem .5rem;
    .form-control {
      position: relative;
      top: 1px;
      border-color: transparent;
      &:focus {
        border-color: #529be4;
      }
    }
    .btn {
      margin: 2px;
    }
    .btn-search {
      color: #fff;
      background-color: $primary;
    }
  }
}

.post {
  .post-title {
    text-align: center;
    border-bottom: 1px solid $gray-200;
    padding: 1rem;
  }
  .post-photo {
    text-align: center;
    height: 260px;
    padding-bottom: 1rem;
    img {
      max-height: 100%;
    }
  }
  .post-body {
    .post-card {
      margin-bottom: 2rem;
    }
    .card {
      margin-bottom: 1rem;
      ul.list-decimal {
        list-style: decimal;
        line-height: 1.4;
        padding: 0 0 0 1rem;
        margin: 0;
        li + li {
          margin-top: 0.36rem;
        }
      }
    }
  }
  .post-card-title {
    background-color: $gray-200;
    border-radius: 0.25rem;
    padding: .5rem 1rem;
    margin-bottom: .75rem;
  }
  .post-card-img {
    img {
      max-width: 100%;
    }
  }
  .post-card-info {
    list-style: none;
    line-height: 1.6;
    background: $gray-200;
    border-radius: .25rem;
    padding: 6px 10px;
    margin: 0;
    .post-info-group {
      display: flex;
      .post-info-item {
        width: 100%;
        background: #fff;
        border-radius: 14px;
        padding: 4px 8px;
        margin: 4px 0;
        + .post-info-item {
          margin-left: 4px;
        }
        label {
          display: inline-block;
          width: 50px;
          color: $gray-500;
          padding-left: 8px;
        }
      }
    }
  }
  .post-card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 1.6;
    border-left: 1px solid $gray-200;
    padding: 0;
    a {
      color: $gray-900;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100px;
      text-align: center;
      border: 1px solid $gray-200;
      border-left: 0;
      border-top: 0;
      &:hover {
        background-color: $gray-100;
      }
    }
    &.check-list {
      margin: 0 -1px -1px 0;
      li {
        position: relative;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          top: 5px;
          right: 5px;
          display: block;
          width: 20px;
          height: 20px;
          color: $primary;
          background-color: #fff;
          border: 1px solid $gray-200;
          border-radius: 50%;
        }
        &.current {
          background-color: $gray-100;
          &:before {
            content: '';
            background: #fff url('../../image/checkmark-outline.svg') center no-repeat;
            background-size: 100%;
            border-color: $gray-900;
          }
        }
      }
    }
  }
}

.collapse-analysis {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  padding: .5rem;
  ion-icon {
    position: absolute;
    right: 10px;
    opacity: 0.5;
  }
}
.table-analysis {
  .analysis-info {
    display: flex;
    justify-content: center;
    align-items: center;
    &.top {
      flex-direction: column;
    }
    &.left {
      flex-direction: column;
    }
  }
  .analysis-icon {
    width: 36px;
    img {
      max-width: 100%;
    }
  }
  .analysis-scores {
    font-size: .8em;
    white-space: nowrap;
  }
  .analysis-scores-total {
    max-width: 46px;
    font-size: 1.25em;
    text-align: center;
    border: 1px solid transparent;
    margin: 0 auto .3rem;
    border-radius: .25rem;
    &.good {
      background-color: rgba($success, .05);
      border-color: $success;
    }
    &.bad {
      background-color: rgba($danger, .05);
      border-color: $danger;
    }
  }
  .analysis-scores-subtotal {
    display: flex;
    justify-content: center;
    span {
      padding: 0 3px;
    }
    .bgColor-primary {
      background-color: rgba($primary, .1);
    }
    .bgColor-success {
      background-color: rgba($success, .1);
    }
    .bgColor-danger {
      background-color: rgba($danger, .1);
    }
  }
}
.analysis-fixed {
  margin-bottom: 60px;
}
.analysis-tag {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  padding: 0.75rem;
  .table-responsive {
    white-space: nowrap;
  }
  .btn-tag {
    position: relative;
    background-color: #fff;
    border-color: rgba($primary, .2);
    padding-left: 1.5rem;
    margin: 2px;
    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 6px;
      width: 1rem;
      height: 1rem;
      display: block;
      background-color: $primary;
      mask-image: url('../../image/close-outline.svg');
      mask-size: cover;
    }
    &:hover {
      background-color: $gray-100;
    }
    &.current {
      background-color: rgba($primary, .08);
      border-color: rgba($primary, .2);
    }
  }
}



.donate {
  .donate-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: .3rem .5rem;
      .donate-list-date {
        color: $gray-500;
      }
      .donate-list-money {
        font-size: 15px;
        font-weight: bold;
        &:before {
          content: '$';
        }
      }
      .donate-list-re {
        color: $gray-500;
        &:before {
          content: "\2014\00A0";
        }
      }
      &:nth-child(odd) {
        background-color: $gray-100;
      }
    }
  }
}

.version {
  .img-fluid {
    width: 400px;
    margin: .5rem 0;
  }
}



.footer {
  .copyright {
    color: $gray-400;
    text-align: center;
    padding: 1rem 0;
  }
}







// components
.hidden {
  overflow: hidden;
}
a.link {
  color: $primary !important;
  text-decoration: underline;
}
.btn {
  white-space: nowrap;
  border-radius: 0.25rem;
}
.btn-default {
  border-color: $gray-200;
  &:hover {
    background-color: $gray-100;
  }
}
.form-control:focus {
  border-color: #96c7f8;
  box-shadow: none;
}
.alert-primary {
  background-color: rgba($primary, .06);
  span {
    font-size: 16px;
  }
}

// card
.card {
  border: 0;
  // border: 1px solid $gray-200;
}
.card-header {
  background-color: $gray-100;
  border: 1px solid $gray-200;
}
.card-body {
  border: 1px solid $gray-200;
}


// table
.table {
  background-color: #fff;
  a {
    color: $body-color;
  }
  th, td {
    vertical-align: middle;
  }
  th {
    background-color: $gray-100;
    padding: 1rem;
  }
  .table-label {
    width: 90px;
  }
}
.table-img {
  max-width: 66px;
  padding: 0 .2rem;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}



// <691px
@include media-breakpoint-down(sm) {
  .analysis-fixed {
     margin-bottom: 120px;
    .header {
      position: static;
    }
  }
  .header {
    position: fixed;
    z-index: 9;
    width: 100%;
    .btn-user,
    .btn-nav {
      width: 50px;
      height: 50px;
      padding: 0;
      ion-icon {
        position: relative;
        top: 2px;
        width: 22px;
        height: 22px;
      }
    }
  }
  .header-wrap {
    position: relative;
  }
  .navigation-wrap {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    transition: all .5s;
    &.show {
      display: block;
      .navigation {
        > ul {
          transform: translateX(0%);
        }
      }
    }
  }
  .navigation {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          display: block;
          padding: 0.5rem .75rem;
          border-top: 1px solid $gray-200;
        }
        &.current {
          a {
            color: $primary;
            background-color: rgba($primary, .08);
          }
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      z-index: 99;
      width: 100%;
      height: 100%;
      background-color: rgba($gray-900, 0.7);
    }
    > ul {
      transform: translateX(-100%);
      position: absolute;
      left: 0;
      z-index: 100;
      width: 80%;
      max-width: 220px;
      height: 100%;
      background: #fff;
      box-shadow: 0 12px 38px 1px rgba($gray-900, 0.05);
      transition: all .5s;
      > li.sub-nav > a {
        display: none;
      }
    }
  }
  .analysis-tag {
    > div:first-child {
      margin-bottom: .5rem;
    }
  }
}
// ≥768px
@include media-breakpoint-up(md) {
  .btn-user,
  .btn-nav {
    display: none;
  }
  .navigation {
    > ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      > li > a {
        display: block;
        line-height: 50px;
        padding: 0 1rem;
      }
      .sub-nav {
        ion-icon {
          position: relative;
          top: 1px;
          margin-left: 3px;
          opacity: 0.5;
        }
        ul {
          display: none;
          list-style: none;
          position: absolute;
          z-index: 9;
          background-color: #fff;
          box-shadow: 0 12px 38px 1px rgba($gray-900, 0.05);
          padding: 0;
          li {
            a {
              display: block;
              padding: .5rem 1.25rem;
              &:hover {
                color: $primary;
                background-color: rgba($primary, .08);
              }
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
          > a {
            color: $primary;
          }
        }
      }
    }
  }
  .post {
    .post-card-list {
      &.animal-list li {
        width: 16.66%;
      }
      &.check-list li {
        width: 16.66%;
      }
    }
  }
  .donate {
    .donate-list {
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// ≥992px
@include media-breakpoint-up(lg) {
  .post .post-card-list {
    &.check-list li {
      width: 12.5%;
    }
  }
}

// ≥1200px
@include media-breakpoint-up(xl) {
  .post .post-card-list {
    li {
      width: 16.66%;
    }
    &.check-list li {
      width: 10%;
    }
  }
  .table-analysis {
    .analysis-info {
      &.left {
        flex-direction: row;
      }
    }
  }
}









@if $developer == 1 {
  @include media-breakpoint-up(md) {
    #root {
      border: 1px solid red;
    }
  }
  @include media-breakpoint-up(lg) {
    #root {
      border: 1px solid green;
    }
  }
  @include media-breakpoint-up(xl) {
    #root {
      border: 1px solid blue;
    }
  }
}